[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-functions = "*"
functions-framework = "*"
flask = "*"
markupsafe = "*"

[dev-packages]

[requires]
python_version = "3.12"
